<style>
    .main-heading{
    background-color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 25%;
}
.white-back{
    width: 35%;
    background-color: aliceblue;
    margin: 15px;
    border: orange 1px;
}
form input[type='submit']{
    background-color: black;
    color: azure;
}
.sub-main{
    display: flex;
    flex-direction: row;
    justify-items: start;
    height: 50%;
    padding: 2%;
    justify-content: space-between;
    border-bottom: 1px solid black;


}
.articles{
    display: flex;
    flex-direction: column;
}
.articles div{
    margin: 1%;
}
img{
    padding-top: 20%;
    padding-bottom: 10%; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blog{
    display: flex;
    border-bottom: 1px solid black;
}
.btn button{
    margin: 2%;
    padding: 1%;
    background-color: orange;

}

@media only screen and (max-width: 600px) {
    .blog {
        display: flex;
        flex-direction: column;
    }

    .white-back{
        width: 75%;
        background-color: aliceblue;
        margin: 15px;
        border: orange 1px;
    }
    .sub-main{
        display: flex;
        flex-direction: column;
        justify-items: start;
        height: 50%;
        padding: 2%;
        justify-content: space-evenly;
        border-bottom: 1px solid black;
    }
    .sub-main h1{
       padding-left: 25%;
    }
}
</style>